
/* Universal Styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    color: seashell;
    background-color: black;
    font-family: Helvetica, sans-serif;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: black;
}

.logo {
    margin: 10px;
    height: 50px;
}

.logo img {
    height: 50px;
}

nav {
    margin-right: 1rem;
}

nav ul{
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 1rem;
}

nav a {
    color: white;
    text-decoration: underline;
}

/* App */
.app-container {
    margin-top: 69px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Jumbotron */

.jumbotron {
    height: 700px;
    margin-bottom: 80px;
}
.jumbotron-img-container {
    height: 700px;
    width: 1200px;
    overflow: hidden;
}

.jumbotron-img-container::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .55);
    height: 700px;
    width: 1500px;
    top: 69px;
    left: 0;
}

.banner {
    position: relative;
    bottom: 350px;
    left: 0;
    background-color: black;
    width: 1200px;
    text-align: center;
    padding: 1px;
}


/* Card Container */
section {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 { 
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-container{
    width: 300px;
    height: 200px;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card p {
    font-weight: 700;
}
